.question-box{
    display: flex;
    flex-direction: column;
    flex-grow:1;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1vw;
}

.title{
    flex-basis: 3%;
    font-size: 1.8vw;
    font-weight: bold;
    text-align: center;
    padding-top: 2%;
}

.desc{
    flex-basis: 32%;
}

.test-cases{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    flex-basis: 20%;
}

.box-item{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.spacer{
    height: 10px;
}