.main-container{
    display:flex;
    flex-direction: column;
    height: 100vh;
}

.body-container{
    display:flex;
    flex-direction: row;
}

.container-item{
    display:flex;
    flex-grow: 1;
    font-size: 1.2rem;
    color: black;
    /* text-align: center; */
}

.page-body{
    background-color: #F6F6F6;
}


.questions{
    flex-basis: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.editor{
    background-color: grey;
    flex-basis: 60%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.monaco{
    display: flex;
    flex-grow: 1;
    flex-basis: 65%;
    overflow: auto;
}

.console{
    display: flex;
    flex-grow: 1;
    flex-basis: 35%;
}

.notepad-and-video{
    background-color: aquamarine;
    flex-basis: 25%;
}
